<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar</title>
</head>
<body>
<div class="container" ng-app="test">

    <h3 style="color:blue">Editar Usuário</h3>


    <div ng-controller="UserUpdateController">

        <form class="form-horizontal" name="buscaForm" ng-submit="getUserById()">
            <div class="form-group">
                <label class="control-label col-sm-2" for="buscaID">ID:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="idUser" id="buscaID"
                           placeholder="Entre ID do Usuário" ng-model="idUser"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Buscar</button>
                </div>
            </div>
        </form>

        <form class="form-horizontal" name="userForm" ng-submit="updateUser()">
            <div class="form-group">
                <label class="control-label col-sm-2" for="nomeID">Nome:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="nome" id="nomeID"
                           placeholder="Entre Nome" ng-model="nome"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="emailID">Email:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="email" id="emailID"
                           placeholder="Entre Email" ng-model="email"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="telefoneID">Telefone:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="telefone" id="telefoneID"
                           placeholder="Entre Telefone" ng-model="telefone"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="sexoID">Sexo:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="sexo" id="sexoID"
                           placeholder="Entre m ou f" ng-model="sexo"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Salvar</button>
                </div>
            </div>
        </form>
<br/><br/>
        <button id="btn-id" type="button" class="btn btn-primary" ng-click="deleteUser()">Deletar este Usuário</button>
    </div>


</div>
</body>
</html>